# video files
*.ts
*.mp*
*.mp4
*.m4v
*.mov
*.wmv

# raw image files
*.psd
*.ppm

# unnecessary directories
spr2014/dev/MedieE/*
w/*

# unnecessary copies 
Untitled*
*Copy*
*\(2\)*

# unnecessary copies of directories
*New\ folder/
*OLD/
*old2/
*old-chief/

# src code that should not be on the web site
/f/
/h/
/i/
/fall2014/f4m/OSMF-src/
/fall2014/f4m/stream-video-player/
*.zip

